# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [159]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [80]:
file = "../WeatherPy/weather_data.csv"
weather_df = pd.read_csv(file)
weather_df[["lat", "lng", "max_temp", "humidity", "cloudiness", "wind_speed", "date"]] = weather_df[["lat", "lng", "max_temp", "humidity", "cloudiness", "wind_speed", "date"]].astype(int)

weather_df.head()

,city,country,lat,lng,max_temp,humidity,cloudiness,wind_speed,date
0,Susanville,US,40,-120,71,6,1,3,1619655810
1,Port Alfred,ZA,-33,26,66,79,98,8,1619655836
2,Rikitea,PF,-23,-134,76,66,41,10,1619655836
3,Korgen,NO,66,13,35,73,91,2,1619655836
4,Albany,US,42,-73,57,86,96,2,1619655837

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [146]:
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["lat", "lng"]].astype(float)

weather_df_complete = weather_df.dropna()
humidity = weather_df["humidity"].astype(float)

fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [156]:
choice_city = weather_df.loc[(weather_df["max_temp"] <= 62) & (
    weather_df["max_temp"] >= 40) & (
    weather_df["wind_speed"] <= 10) & (
    weather_df["humidity"] <= 60) & (
    weather_df["cloudiness"] <= 50) & (
    weather_df["country"].notna()), :]
print(choice_city)

           city country  lat  lng  max_temp  humidity  cloudiness  wind_speed  \
10   Codrington      AU  -38  141        61        60          10           7
97    Kirovskiy      RU   45  133        51        49           1           6
120       Ginda      IN   30   78        58        36           2           8
168   Fairbanks      US   64 -147        52        23           1           3
215       Kenai      US   60 -151        55        38           1           9
254     Ushtobe      KZ   45   77        62        42           0           3
364   Kyzyl-Suu      KG   42   78        50        43           0           8
371      Lenger      KZ   42   69        59        58           0           4
439    Matagami      CA   49  -77        55        24           1           4
451       Altay      CN   47   88        52        55          49           6
508     Birjand      IR   32   59        60        31          40           6

           date
10   1619655839
97   1619655865
120  1619655873
168  1619655887
215  1619655902
254  1619655915
364  1619655948
371  1619655950
439  1619655972
451  1619655975
508  1619655993

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [157]:
hotel_df = pd.DataFrame(choice_city)
hotel_df['Hotel Name'] = ''
hotel_df.head()

,city,country,lat,lng,max_temp,humidity,cloudiness,wind_speed,date,Hotel Name
10,Codrington,AU,-38,141,61,60,10,7,1619655839,
97,Kirovskiy,RU,45,133,51,49,1,6,1619655865,
120,Ginda,IN,30,78,58,36,2,8,1619655873,
168,Fairbanks,US,64,-147,52,23,1,3,1619655887,
215,Kenai,US,60,-151,55,38,1,9,1619655902,

In [170]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "lodging",
    "keyword": "hotel",
    "rankby": 'prominence',
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)


    # convert to json
    name_address = name_address.json()

    # Use Try to skip any rows missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.

In [173]:
hotel_df = hotel_df.reset_index()
hotel_df.head(11)

,index,city,country,lat,lng,max_temp,humidity,cloudiness,wind_speed,date,Hotel Name
0,10,Codrington,AU,-38,141,61,60,10,7,1619655839,The Barn Accommodation
1,97,Kirovskiy,RU,45,133,51,49,1,6,1619655865,Dubrava
2,120,Ginda,IN,30,78,58,36,2,8,1619655873,Amatra by the Ganges
3,168,Fairbanks,US,64,-147,52,23,1,3,1619655887,
4,215,Kenai,US,60,-151,55,38,1,9,1619655902,Land's End Resort
5,254,Ushtobe,KZ,45,77,62,42,0,3,1619655915,Camping Jeppesen Party
6,364,Kyzyl-Suu,KG,42,78,50,43,0,8,1619655948,Royal Apricot
7,371,Lenger,KZ,42,69,59,58,0,4,1619655950,Rixos Khadisha Shymkent
8,439,Matagami,CA,49,-77,55,24,1,4,1619655972,Motel Du Lac
9,451,Altay,CN,47,88,52,55,49,6,1619655975,Chutian Hotel
10,508,Birjand,IR,32,59,60,31,40,6,1619655993,Eco-tourism resort Heidari

In [176]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [178]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"{hotel_info}" for hotel in hotel_df]
)


fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

# Display figure

Figure(layout=FigureLayout(height='420px'))