# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [80]:
file = "../WeatherPy/weather_data.csv"
weather_df = pd.read_csv(file)
weather_df[["lat", "lng", "max_temp", "humidity", "cloudiness", "wind_speed", "date"]] = weather_df[["lat", "lng", "max_temp", "humidity", "cloudiness", "wind_speed", "date"]].astype(int)

weather_df.head()

,city,country,lat,lng,max_temp,humidity,cloudiness,wind_speed,date
0,Susanville,US,40,-120,71,6,1,3,1619655810
1,Port Alfred,ZA,-33,26,66,79,98,8,1619655836
2,Rikitea,PF,-23,-134,76,66,41,10,1619655836
3,Korgen,NO,66,13,35,73,91,2,1619655836
4,Albany,US,42,-73,57,86,96,2,1619655837

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [146]:
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["lat", "lng"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
weather_df_complete = weather_df.dropna()
humidity = weather_df["humidity"].astype(float)

fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [140]:
choice_city = weather_df.loc[(weather_df["max_temp"] <= 62) & (
    weather_df["wind_speed"] <= 10) & (
    weather_df["humidity"] <= 60) & (
    weather_df["cloudiness"] <= 50) & (
    weather_df["country"].notna()), :]
print(choice_city)

            city country  lat  lng  max_temp  humidity  cloudiness  \
10    Codrington      AU  -38  141        61        60          10
38          Nome      US   64 -165        33        60          40
97     Kirovskiy      RU   45  133        51        49           1
102      Aklavik      CA   68 -135        39        48           9
120        Ginda      IN   30   78        58        36           2
168    Fairbanks      US   64 -147        52        23           1
215        Kenai      US   60 -151        55        38           1
254      Ushtobe      KZ   45   77        62        42           0
340     Hereford      GB   52   -2        39        59          46
364    Kyzyl-Suu      KG   42   78        50        43           0
371       Lenger      KZ   42   69        59        58           0
439     Matagami      CA   49  -77        55        24           1
451        Altay      CN   47   88        52        55          49
464  Fort Nelson      CA   58 -122        37        35          20
508      Birjand      IR   32   59        60        31          40

     wind_speed        date
10            7  1619655839
38            8  1619655847
97            6  1619655865
102           8  1619655867
120           8  1619655873
168           3  1619655887
215           9  1619655902
254           3  1619655915
340           6  1619655703
364           8  1619655948
371           4  1619655950
439           4  1619655972
451           6  1619655975
464           5  1619655979
508           6  1619655993

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [144]:
hotel_df = pd.DataFrame(choice_city)
hotel_df['Hotel Name'] = ''
hotel_df.head()

,city,country,lat,lng,max_temp,humidity,cloudiness,wind_speed,date,Hotel Name
10,Codrington,AU,-38,141,61,60,10,7,1619655839,
38,Nome,US,64,-165,33,60,40,8,1619655847,
97,Kirovskiy,RU,45,133,51,49,1,6,1619655865,
102,Aklavik,CA,68,-135,39,48,9,8,1619655867,
120,Ginda,IN,30,78,58,36,2,8,1619655873,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure